---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Briefcase from "../components/icons/Briefcase.astro"
import SectionContainer from "../components/SectionContainer.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Code from "../components/icons/Code.astro";
---

<Layout 
	title="Portfolio - Facundo Chevez Product Designer & Frontend Developer"
	description="Contrata a Facundo Chevez para diseñar las aplicaciones y web mas lindas"
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-24">
			<img class="rounded-full w-12 h-12 mb-4" src="../../public/avatar.jpeg" alt="Facu foto">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">Hey, soy Facu <a href="https://www.linkedin.com/in/facundochevez" target="_blank" rel="noreferrer" class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></a></h1>
			<h2 class="text-xl lg:text-2xl text-balance max-w-[700px]">
				<span>+5 años de experiencia</span>
				<span class="opacity-80 text-yellow-200/90">Product Designer & Frontend Developer</span> 
				<span class="text-red-200/90">de Buenos Aires, Argentina 🇦🇷</span>
			</h2>

			<nav class="flex flex-row gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/facundochevez">
					<LinkedinIcon class="size-4 md:size-6"/>
					Linkedin
				</SocialPill>
				<SocialPill href="https://www.github.com/facuchevez">
					<GitHubIcon class="size-4 md:size-6"/>
					GitHub
				</SocialPill>
				<SocialPill href="mailto:facundochevez@gmail.com">
					<MailIcon class="size-4 md:size-6"/>
					facundochevez@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
				<Briefcase class="size-8" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
				<Code class="size-8" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>
